<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
	<img src="{{ site.url }}/public/Network.png" class="inline">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{site.url}}">Home</a>
		<a class="sidebar-nav-item" href="https://culturologies.wordpress.com/">CV</a>
      <a class="sidebar-nav-item" href="/blog">Blog</a>
      <a class="sidebar-nav-item" href="https://twitter.com/LTF_01">Twitter</a>
    </nav>

    <p>Contact me at: cmoser2(at)ucmerced.edu</p>
  </div>
</div>